//font-family
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
$barlow:  'Barlow', sans-serif;
$fraunces:  'Fraunces', serif;

//colors
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-desaturated-cyan: hsl(167, 40%, 24%);
$dark-blue: hsl(198, 62%, 26%);
$dark-moderate-cyan: hsl(168, 34%, 41%);
$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

//font-size
$font-xs: 0.8rem;
$font-s: 1rem;
$font-m: 1.25rem;
$font-l: 1.75rem;
$font-xl: 2.25rem;
$font-xxl: 3rem;