@use "../mixins" as *;
@use "../variables" as *;

.eatables {
  .desktop-img {
    @include flex(row, center, center);
    @include small {
      display: none;
    }
    img {
      width: 25%;
      display: block;
    }
  }
  .mobile-img {
    img {
      display: block;
      width: 100%;
    }
  }
}
