@use "../mixins" as *;
@use "../variables" as *;

header {
  background-image: url("../images/desktop/image-header.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 2rem;
  text-align: center;
  @include small {
    background-image: url(../images/mobile/image-header.jpg);
    background-size: 100%;
    height: 70vh;
    padding: 1.5rem;
  }
}

.navbar {
  @include flex(row, space-between, center);
  margin-top: 0.5rem;
}

.header-logo {
  width: 10rem;
  @include small {
    width: 9rem;
  }
}

nav {
  @include flex(row, center, center);
  @include small {
    display: none;
  }
  li {
    font-size: $font-s;
    list-style-type: none;
    margin-inline: 1.5rem;
    a {
      color: white;
    }
  }
  .contact-button > a {
    font-family: $fraunces;
    background-color: $white;
    color: $very-dark-desaturated-blue;
    padding: 1.375rem 2rem;
    border-radius: 2rem;
    &:hover {
      background-color: hsla(0, 0%, 100%, 0.3);
      color: $white;
      transition: ease-in-out 0.2s all;
    }
  }
}

.hamburger {
  display: none;
  @include small {
    display: block;
    width: 1.5rem;
  }
}

#mob-nav {
  @include small {

  display: none;
  position: absolute;
  inset: 0;
  inset-inline: 1.5rem;
  top: 7rem;
  background-color: $white;
  min-width: 20.5rem;
  height: 20rem;

  &::before {
    content: "";
    position: absolute;
    top: -2rem;
    right: 0;
    width: 0;
    height: 0;
    border-top: 2rem solid transparent;
    border-bottom: 2rem solid transparent;
    border-right: 2rem solid $white;
  }

  li {
    margin-block: 2rem;
  }

  a {
    color: $dark-grayish-blue;
    font-size: $font-m;
  }

  .contact-button {
    margin-top: 3rem;
    a {
      background-color: $yellow;
      color: $very-dark-desaturated-blue;
    }
  }
  }
}
